* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
* h1{
    font-size: 50px;
}
.size{
    width: 1500px;
   
}

.navbar {
    background-color: #050505; 
    overflow: hidden; 
    font-size: small;
   
}

.nav-links {
    list-style-type: none; 
    
}

.nav-links li {
    float: left; 
    margin-left: 100px;
}

.nav-links li a {
    display: block; 
    color: white; 
   
    text-decoration: none;
 }

.nav-links li a:hover {
    background-color: gray; }


.img-back{
    height: 700px;
    background-color: blue;
    align-content: center;
    background: url(./img/tast1/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}   
.img-back h1{
    
    background-color: rgb(192, 192, 192,0.5);
   
}
.container1{
    height: 500px;   
    background-color: #f2f9fc; 
    text-align: center; 
    align-content: center;
}
.container1 h1{
    margin-bottom: 20px;
}
table {
    width: 100%; 
    margin: 20px ;
}

.container2{
    height: 500px;  
    background-color: #fcd5bf; 
    text-align: center;
    align-content: center;
}
.container2 h1{
    margin-bottom: 40px;

}
.container3{
    height: 500px;  
    background-color: #f2f9fc; 
    text-align: center;
    align-content: center;
}
.container3 h1{
    margin-bottom: 40px;

}
.container4 {
    height: 500px;
    text-align: center; 
    background-color: #fcd5bf; 
   
}

.container4 h1 {
   padding-top: 100px; 
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 150px;
}

.box {
    width: 250px;
    text-align: center;
    justify-content: space-between;
    align-items: center;

}
.box h3 {
    margin: 15px 0px;
    
}
.box img{
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.box p{
    margin-top: 5px;
}
.container5 {
    height: 800px;
    text-align: center; 
    background-color: #f2f9fc;

}


.container5 h1 {
   padding-top: 100px;
}

.content2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.box2 {
    background-color: #f5deb3; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    width: 250px; 
    
   
}
.box2 h2{
    margin-bottom: 10px;
}

.box2 img {
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 20px;
}

.squre {
    background-color: #fde98c; 
    border: 2px solid orange; 
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 15px; 
    text-align: left;
}

ul {
    
    padding-left: 30px;
    text-align: left;
}

li {
    margin-bottom: 5px;
}

.container6{
    height: 800x; 
    background-color: #fcd5bf; 
    text-align: center;
    
}

  .container6 h1{
    padding: 40px 40px;
  }
 button{
    background-color: black;
    border-radius: 5px;
    color: white;
    padding:10px ;
    margin-top: 20px;
    width: 200px;
 }
 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .form-group {
    margin-bottom: 15px;
    text-align: left;
}


label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
    
}


input[type="text"],
input[type="email"],
textarea {
    width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


textarea {
    height: 50px; 
}
.Info p{
    font-size: 20px;
    
    padding-bottom: 10px;
}
footer {
    background-color: #000; 
    padding: 10px 0; 
    text-align: center; 
}


.footer-nav a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 15px; 
    font-size: 16px; 
}


.footer-nav a:hover {
    background-color: gray;
}